/* 全般 */
.hrHeader {
    margin: 0;
}

body {
    color: var(--text-color);
    font-family: "M PLUS Rounded 1c";
    width: 100%;
    margin: 0;
    padding: 0;
}

body.menuOpened {
    position: fixed;
}

a,
a:hover {
    color: var(--header-text-color);
    text-decoration: none;
}

/* ヘッダ全般 */
header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    width: 100%;
    position: fixed;
    z-index: 9999;
}

#headerMainMenuArea {
    height: var(--header-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* ヘッダのハンバーガーメニュー */
#headerHamburgerMenuArea {
    display: none;
}

#headerHamburgerMenuArea #hamburgerMenuArea {
    visibility: hidden;
    opacity: 0;
    background-color: var(--header-background-color);
    position: absolute;
    width: 100%;
    height: calc(100% - var(--header-height));
    top: var(--header-height);
    margin: 0;
    padding: 0;
    transition: all .5s;
}

#headerHamburgerMenuArea #hamburgerMenuArea.opened {
    visibility: visible;
    opacity: 0.85;
    transition: all .5s;
}

#headerHamburgerMenuArea #hamburgerMenuButton {
    position: relative;
    background: transparent;
    display: block;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    margin: calc((var(--header-height) - 40px) / 2) 10px 0;
    padding: 0;
}

#headerHamburgerMenuArea #hamburgerMenuButton #hamLineTop,
#headerHamburgerMenuArea #hamburgerMenuButton #hamLineMiddle,
#headerHamburgerMenuArea #hamburgerMenuButton #hamLineBottom {
    width: 30px;
    height: 1px;
    position: absolute;
    background-color: var(--header-text-color);
    left: 5px;
}

#headerHamburgerMenuArea #hamburgerMenuButton #hamLineTop {
    top: 10px;
    transition: transform .3s;
}

#headerHamburgerMenuArea #hamburgerMenuButton #hamLineMiddle {
    top: 20px;
    transition: opacity .3s;
}

#headerHamburgerMenuArea #hamburgerMenuButton #hamLineBottom {
    top: 30px;
    transition: transform .3s;
}

#headerHamburgerMenuArea #hamburgerMenuButton.opened #hamLineTop {
    transform: translate(0, 10px) rotate(45deg);
    transition: transform .3s;
}

#headerHamburgerMenuArea #hamburgerMenuButton.opened #hamLineMiddle {
    opacity: 0;
    transition: opacity .3s;
}

#headerHamburgerMenuArea #hamburgerMenuButton.opened #hamLineBottom {
    transform: translate(0px, -10px) rotate(-45deg);
    transition: transform .3s;
}

#headerHamburgerMenuArea #hamburgerList {
    list-style: none;
    border: 1px solid var(--header-text-color);
    width: 100%;
    margin: 0;
    padding: 0;
}

#headerHamburgerMenuArea #hamburgerList>li {
    border-top: none;
    padding: 10px 0 10px 20px;
}

#headerHamburgerMenuArea #hamburgerList>li+li {
    border-top: 1px dotted var(--header-text-color);
}

#headerHamburgerMenuArea #hamburgerList #hamCategoryArea #hamCategoryList,
#headerHamburgerMenuArea #hamburgerList #hamCategoryArea #hamMediumCategoryList {
    list-style: none;
    margin: 0;
    padding: 0;
}

#headerHamburgerMenuArea #hamburgerList #hamCategoryArea li {
    padding-left: 40px;
}

#headerHamburgerMenuArea #hamburgerList #hamAboutSnsList {
    list-style: none;
    margin: 0;
    padding: 0;
}

#headerHamburgerMenuArea #hamburgerList #hamAboutSnsList li {
    padding-left: 40px;
}

#headerHamburgerMenuArea #hamburgerList #hamAboutSnsList li img {
    width: 18px;
    height: 18px;
}

/* ヘッダのロゴ */
#headerShopLogoArea {
    width: calc((100% - var(--page-width)) / 2);
}

#headerShopLogoArea .logoImage {
    height: 100%;
}

/* ヘッダのナビゲーションメニュー */
#headerNavigatorArea nav {
    width: var(--page-width);
    font-family: "Nico Moji";
    margin: auto;
}

#headerNavigatorArea #navigatorList {
    list-style: none;
    display: flex;
    align-items: flex-start;
    text-align: center;
    height: var(--header-height);
    margin: 0;
    padding: 12px 0 0;
}

#headerNavigatorArea #navigatorList>li {
    width: calc(100% / 4);
    margin-left: 0;
    margin-right: 0;
    border-left: 1px dotted var(--header-text-color);
    border-right: 1px dotted var(--header-text-color);
}

#headerNavigatorArea #navigatorList>li+li {
    border-left: 0;
}

#headerNavigatorArea #navigatorList #navCategoryArea #navCategoryList,
#headerNavigatorArea #navigatorList #navCategoryArea #navMediumCategoryList,
#headerNavigatorArea #navigatorList #navAboutArea #navAboutSnsList {
    visibility: hidden;
    background-color: var(--header-background-color);
    border: 1px solid var(--header-text-color);
    position: absolute;
    width: calc(var(--page-width) / 4 - 1px);
}

#headerNavigatorArea #navigatorList #navCategoryArea #navCategoryList li,
#headerNavigatorArea #navigatorList #navAboutArea #navAboutSnsList li {
    height: 40px;
    padding-top: 6px;
}

#headerNavigatorArea #navigatorList #navCategoryArea #navCategoryList li+li,
#headerNavigatorArea #navigatorList #navAboutArea #navAboutSnsList li+li {
    border-top: 1px dotted var(--header-text-color);
}

#headerNavigatorArea #navigatorList #navCategoryArea:hover #navCategoryList,
#headerNavigatorArea #navigatorList #navAboutArea:hover #navAboutSnsList {
    visibility: visible;
}

#headerNavigatorArea #navigatorList #navCategoryArea:hover #navCategoryList>li:hover #navMediumCategoryList {
    visibility: visible;
    left: calc(var(--page-width) / 4 - 50px);
}

#headerNavigatorArea #navigatorList #navAboutSnsList li img {
    width: 18px;
    height: 18px;
}

/* ヘッダのBASEメニュー */
#baseMenu {
    width: calc((100% - var(--page-width)) / 2);
}

#baseMenu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    margin-right: 10px;
    padding: 0;
}

#baseMenu img {
    height: calc(var(--header-height) - 10px);
}

/* メイン全般 */
main {
    width: 100%;
    background-color: var(--background-color);
    padding-top: calc(var(--header-height) + 10px);
}

main a,
main a:hover {
    color: var(--text-color);
    text-decoration: none;
}

/* フッタ全般 */
footer {
    background-color: var(--footer-background-color);
    color: var(--footer-text-color);
}

footer a,
footer a:hover {
    color: var(--footer-text-color);
    text-decoration: none;
}

#footerSiteMapArea {
    width: var(--page-width);
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* フッタのロゴ */
#footerSiteMapArea #footerShopLogoArea {
    width: 20%;
}

#footerSiteMapArea .logoImage {
    width: 100%;
}

/* フッタのカテゴリ/メニュー */
#footerSiteMapArea #footerCategoryArea,
#footerSiteMapArea #footerNavigatorArea {
    padding: 20px 0 0 0;
}

#footerSiteMapArea #footerCategoryArea #footerCategoryList,
#footerSiteMapArea #footerNavigatorArea #footerNavigatorList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footerSiteMapArea #footerCategoryArea #footerMediumCategoryList {
    list-style-type: none;
    margin: 0;
    padding-left: 25px;
}

/* フッタの著作権表示 */
#footerCopyrightArea {
    width: var(--page-width);
    margin: auto;
    text-align: right;
}

/* トップページ/カテゴリページ/検索結果ページ */
#mainIndexPageArea {
    width: var(--page-width);
    margin: auto;
    text-align: center;
}

/* トップページ/カテゴリページ/検索結果ページの検索ボタン */
#mainIndexPageArea #searchArea {
    display: flex;
    justify-content: flex-end;
}

#mainIndexPageArea #searchArea #searchText {
    background-color: var(--control-background-color);
    border: 1px solid var(--text-color);
    border-radius: 0.3em;
    color: var(--text-color);
    vertical-align: middle;
    width: 170px;
}

#mainIndexPageArea #searchArea #searchButton {
    background-color: var(--control-background-color);
    border: 1px solid var(--text-color);
    border-radius: 0.3em;
    width: 20px;
    height: 20px;
    padding: 3px;
    vertical-align: middle;
}

#mainIndexPageArea #searchArea #searchButton #searchButtonIcon {
    background: var(--searchbox-icon) no-repeat;
    background-size: 12px 12px;
    display: inline-block;
    width: 12px;
    height: 12px;
}

/* トップページのスライド */
#mainIndexPageArea .autoSliderArea {
    background-color: transparent;
}

#mainIndexPageArea .autoSliderArea img {
    height: 100%;
    object-fit: contain;
}

#mainIndexPageArea .bx-wrapper {
    position: relative;
}

#mainIndexPageArea .bx-wrapper .bx-prev {
    left: 10px;
    background: var(--slide-arrow-left) no-repeat;
}

#mainIndexPageArea .bx-wrapper .bx-next {
    right: 10px;
    background: var(--slide-arrow-right) no-repeat;
}

#mainIndexPageArea .bx-wrapper .bx-controls-direction a {
    outline: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#mainIndexPageArea .bx-wrapper .bx-pager {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#mainIndexPageArea .bx-wrapper .bx-pager.bx-default-pager a {
    background: black;
    border-radius: 0.3em;
    display: block;
    opacity: 0.5;
    text-indent: -9999px;
    width: 15px;
    height: 15px;
}

#mainIndexPageArea .bx-wrapper .bx-pager-item a.hover,
#mainIndexPageArea .bx-wrapper .bx-pager-item a.active {
    background: rgb(128, 128, 128);
}

/* トップページのショップメッセージ */
#mainIndexPageArea #shopMessageArea {
    margin-top: 20px;
}

/* カテゴリページのパンくず */
#mainIndexPageArea #breadcrumbArea {
    margin: 0;
}

#mainIndexPageArea #breadcrumbArea ul {
    display: flex;
    list-style: none;
    margin: 0;
}

#mainIndexPageArea #breadcrumbArea li:after {
    content: ">";
    margin-left: 10px;
    margin-right: 10px;
}

#mainIndexPageArea #breadcrumbArea li:last-child:after {
    content: "";
}

/* カテゴリページの子カテゴリ */
#mainIndexPageArea #childCategoryArea ul {
    display: inline;
    list-style: none;
}

/* トップページ/カテゴリページ/検索結果ページの商品一覧 */
#mainIndexPageArea .sectionTitleArea {
    margin-top: 20px;
    font-family: "Nico Moji";
    font-size: 2em;
}

#mainIndexPageArea #itemListArea {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#mainIndexPageArea #itemListArea #itemArea {
    width: calc((var(--page-width) - (var(--item-space) * (var(--item-column-num) - 1))) / var(--item-column-num));
    margin-bottom: var(--item-space);
}

#mainIndexPageArea #itemListArea #itemArea #itemImageArea {
    width: calc((var(--page-width) - (var(--item-space) * (var(--item-column-num) - 1))) / var(--item-column-num));
    height: calc((var(--page-width) - (var(--item-space) * (var(--item-column-num) - 1))) / var(--item-column-num));
}

#mainIndexPageArea #itemListArea #itemArea #itemImageArea img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

#mainIndexPageArea #itemListArea #itemArea #itemNameArea {
    width: 100%;
    height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#mainIndexPageArea #itemListArea #itemArea .itemPriceAraa {
    width: 100%;
    color: red;
}

#mainIndexPageArea #itemListArea #itemArea #itemDiscountRate {
    color: red;
    border: 1px solid red;
    margin-right: 10px;
}

#mainIndexPageArea #itemListArea #itemArea #itemPriceAttention {
    color: red;
}

/* 商品ページ */
#mainItemPageArea {
    width: var(--page-width);
    margin: auto;
}

/* 商品ページの上部 */
#mainItemPageArea #itemMainArea {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/* 商品ページの画像 */
#mainItemPageArea #itemMainArea #itemImageArea {
    width: 60%;
}

#mainItemPageArea #itemMainArea #itemImageArea #itemSlider {
    background-color: transparent;
}

#mainItemPageArea #itemMainArea #itemImageArea #itemSlider img {
    height: 100%;
    object-fit: contain;
}

#mainItemPageArea #itemMainArea #itemImageArea .bx-wrapper {
    position: relative;
}

#mainItemPageArea #itemMainArea #itemImageArea .bx-wrapper .bx-prev {
    left: 10px;
    background: var(--slide-arrow-left) no-repeat;
}

#mainItemPageArea #itemMainArea #itemImageArea .bx-wrapper .bx-next {
    right: 10px;
    background: var(--slide-arrow-right) no-repeat;
}

#mainItemPageArea #itemMainArea #itemImageArea .bx-wrapper .bx-controls-direction a {
    outline: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#mainItemPageArea #itemMainArea #itemImageArea .bx-wrapper .bx-pager {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#mainItemPageArea #itemMainArea #itemImageArea .bx-wrapper .bx-pager.bx-default-pager a {
    background: black;
    border-radius: 0.3em;
    display: block;
    opacity: 0.5;
    text-indent: -9999px;
    width: 15px;
    height: 15px;
}

#mainItemPageArea #itemMainArea #itemImageArea .bx-wrapper .bx-pager-item a.hover,
#mainItemPageArea #itemMainArea #itemImageArea .bx-wrapper .bx-pager-item a.active {
    background: rgb(128, 128, 128);
}

#mainItemPageArea #itemMainArea #itemImageArea #itemSliderThumbnail {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#mainItemPageArea #itemMainArea #itemImageArea #itemSliderThumbnail img {
    width: calc(var(--page-width) / 10);
    height: auto;
}

/* 商品ページの基本情報 */
#mainItemPageArea #itemMainArea #itemInformationArea {
    width: 35%;
}

#mainItemPageArea #itemMainArea #itemInformationArea #itemTitle {
    font-size: 1.5em;
}

#mainItemPageArea #itemMainArea #itemInformationArea #itemPriceArea,
#mainItemPageArea #itemMainArea #itemInformationArea #itemProperPriceArea {
    margin-top: 20px;
}

#mainItemPageArea #itemMainArea #itemInformationArea .itemPrice {
    font-size: 1.5em;
}

#mainItemPageArea #itemMainArea #itemInformationArea #itemProperPriceArea .itemPrice {
    color: red;
}

#mainItemPageArea #itemMainArea #itemInformationArea #itemProperPriceArea #itemProperPrice {
    text-decoration: line-through;
}

#mainItemPageArea #itemMainArea #itemInformationArea #itemProperPriceArea #itemDiscountRate {
    color: red;
    border: 1px solid red;
    margin-left: 10px;
}

#mainItemPageArea #itemMainArea #itemInformationArea #itemPurchaseArea {
    margin-top: 20px;
    width: 100%;
}

#mainItemPageArea #itemMainArea #itemInformationArea #itemPurchaseArea select {
    color: var(--text-color);
    background-color: var(--control-background-color);
    border: 1px solid var(--text-color);
    width: 83%;
    margin-left: 20px;
}

#mainItemPageArea #itemMainArea #itemInformationArea #itemPurchaseArea button {
    color: var(--text-color);
    background-color: var(--control-background-color);
    border: 1px solid var(--text-color);
    width: 100%;
    height: 40px;
    margin-top: 20px;
}

#mainItemPageArea #itemMainArea #itemInformationArea .attention {
    font-size: 0.8em;
    color: var(--additional-text-color);
    margin-top: 20px;
}

#mainItemPageArea #itemMainArea #itemInformationArea .attention a {
    color: var(--additional-text-color);
}

/* 商品ページの下部 */
#mainItemPageArea #itemDescriptionArea {
    margin-top: 20px;
}

#mainItemPageArea #itemIllegalReportArea {
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

#mainItemPageArea #itemIllegalReportArea a {
    color: var(--additional-text-color);
}

/* その他のページ */
#mainOtherPageArea {
    width: var(--page-width);
    margin: auto;
}

/* Aboutページ */
#mainOtherPageArea #aboutShotLogoArea {
    text-align: center;
    height: 300px;
}

#mainOtherPageArea #aboutShotLogoArea img {
    height: 100%;
}

#mainOtherPageArea #aboutIntro {
    text-align: center;
}

/* 問い合わせページ */
#mainOtherPageArea .main .inquirySection input {
    color: var(--text-color);
    background-color: var(--control-background-color);
    border: 1px solid var(--text-color);
    width: 300px;
}

#mainOtherPageArea .main .inquirySection textarea {
    color: var(--text-color);
    background-color: var(--control-background-color);
    border: 1px solid var(--text-color);
    width: 100%;
    height: 400px;
}

#mainOtherPageArea .main .inquirySection #buttonLeave {
    color: var(--text-color);
    background-color: var(--control-background-color);
    border: 1px solid var(--text-color);
    width: 300px;
    margin-bottom: 20px;
}

@media (max-width:1160px) {
    /* ヘッダ全般 */
    header {
        position: static;
    }

    /* ヘッダのハンバーガーメニュー */
    #headerHamburgerMenuArea {
        display: inline;
        width: calc((100% - var(--header-height)) / 2);
    }

    /* ヘッダのロゴ */
    #headerShopLogoArea {
        width: var(--header-height);
    }

    /* ヘッダのナビゲーションメニュー */
    #headerNavigatorArea {
        display: none;
    }

    /* ヘッダのBASEメニュー */
    #baseMenu {
        width: calc((100% - var(--header-height)) / 2);
    }

    /* メイン全般 */
    main {
        width: 100%;
        padding-top: 0;
    }

    /* フッタ全般 */
    #footerSiteMapArea,
    #footerCopyrightArea {
        width: 100%;
    }

    /* フッタのロゴ */
    #footerSiteMapArea #footerShopLogoArea {
        display: none;
    }

    /* トップページ/カテゴリページ/検索結果ページ */
    #mainIndexPageArea {
        width: 100%;
    }

    /* トップページ/カテゴリページ/検索結果ページの検索ボタン */
    #mainIndexPageArea #searchArea {
        justify-content: center;
    }

    /* トップページ/カテゴリページ/検索結果ページの商品一覧 */
    #mainIndexPageArea #itemListArea #itemArea {
        width: calc((100% - 20px) / 2);
        margin-bottom: 20px;
    }

    #mainIndexPageArea #itemListArea #itemArea #itemImageArea {
        width: 100%;
        height: auto;
    }

    #mainIndexPageArea #itemListArea #itemArea #itemNameArea {
        width: 100%;
        height: 50px;
        overflow: hidden;
    }

    /* 商品ページ */
    #mainItemPageArea {
        width: 100%;
    }

    /* その他のページ */
    #mainOtherPageArea {
        width: 100%;
    }

    /* 問い合わせページ */
    #mainOtherPageArea .main .inquirySection dd {
        margin-inline-start: 0;
    }

    #mainOtherPageArea .main .inquirySection input {
        width: 100%;
    }

    #mainOtherPageArea .main .inquirySection textarea {
        width: 100%;
        height: 200px;
    }

    #mainOtherPageArea .main .inquirySection #buttonLeave {
        width: 100%;
    }
}
